<div id="travelEditWrapper">
  <div fxLayout='row' fxLayoutGap='80%' fxLayoutAlign="flex-start">
    <h2>Édition de voyage</h2>
    <button mat-flat-button color='primary' (click)='returnToList()'>Retour</button>
  </div>
  <form [formGroup]="travelForm" (ngSubmit)="onSubmit()">
    <div fxLayout='column'>
      <mat-form-field appearance="outline" class="little">
        <mat-label>Ville</mat-label>
        <input type="text" matInput formControlName='name' [value]='travel.countryName'>
      </mat-form-field>
      <mat-form-field appearance="outline" class="medium">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName='description' rows='10' [value]='travel.description'></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class='little'>
        <mat-label>État</mat-label>
        <mat-select formControlName='opinion' (selectionChange)='onOpinionChange($event)'>
          <mat-option *ngFor="let opinion of Opinion | keyvalue" [value]='opinion.value'>{{opinion.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <mat-form-field appearance="outline" class='little'>
      <mat-label>Date de début</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="startingDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class='little'>
      <mat-label>Date de fin</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="endingDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="medium">
      <mat-label>Plat favoris</mat-label>
      <input type="text" matInput formControlName='favoritePlate'>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button type="submit" color='primary' mat-flat-button [disabled]='!this.travelForm.valid'>
      Éditer
    </button>
  </form>

</div>
