<div id="travelListWrapper" >
  <div class='header'>
    <h2>Mes voyages</h2>
    <span class='flex-filler'></span>
    <button color='primary' mat-flat-button (click)="onAdd()">
      Ajouter un voyage
    </button>
  </div>
  <div class='travels' fxLayout="row wrap" fxLayoutGap="0.5%">
    <mat-card class="travel" *ngFor="let travel of travels" fxFlex="1 0 calc(33.3% - 0.5%)">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="green" *ngIf="travel.visited && goodOpinion(travel.opinion)">thumb_up</mat-icon>
          <mat-icon class="red" *ngIf="travel.visited && !goodOpinion(travel.opinion)">thumb_down</mat-icon>
          <mat-icon class="blue" *ngIf="!travel.visited">timeline</mat-icon>
        </div>
        <mat-card-title>{{ travel.countryName }}</mat-card-title>
        <mat-card-subtitle *ngIf="travel.startingTripDate && travel.endingTripDate">({{
          travel.startingTripDate.format("DD/MM/YYYY") }},
          {{
          duration(travel.startingTripDate, travel.endingTripDate)
          }})</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!travel.visited">Pas encore visité</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ travel.description }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="viewTravel(travel.id)">
          <mat-icon color="primary">info</mat-icon>
        </button>
        <button mat-icon-button (click)="editTravel(travel.id)">
          <mat-icon color="accent">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTravel(travel.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
